html h1 {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  text-shadow: 0 -1px 0 #333333;
  font-size:20px
}

html h2 {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  text-shadow: 0 -1px 0 #333333;
  font-size:18px
}

html h3 {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size:16px
}

html p {
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

html * {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size:14px
}
