@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu:after,
#menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu #menu-button {
  display: none;
}
#menu {
  float: left;
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;
  margin-top: 4px;
  padding-left: 80px;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#menu > ul > li {
  float: left;
}
#menu.align-center > ul {
  font-size: 12px;
  text-align: center;
}
#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menu.align-center ul ul {
  text-align: left;
}
#menu.align-right > ul > li {
  float: right;
}
#menu.align-right ul ul {
  text-align: right;
}
#menu > ul > li > a {
  /*padding: 30px;*/
  padding: 25px;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  color: #231520;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
li.violet {
  text-align: center;
}
li.cyan {
  text-align: center;
}
li.green {
  text-align: center;
}
#menu > ul > .violet:hover > a,
#menu > ul > .violet.active > a {
  color: #A54686;
 /* background-color: #A54686;*/
}
#menu > ul > .green:hover > a,
#menu > ul > .green.active > a {
  color: #00A651;
  /*background-color: #00A651;*/
}
#menu > ul > .cyan:hover > a,
#menu > ul > .cyan.active > a {
  color: #00AEEF;
 /* background-color: #00AEEF;*/
}
#menu > ul > .orange:hover > a,
#menu > ul > .orange.active > a {
  color: #ffcb05;
 /* background-color: #ffcb05;*/
}

#menu > ul > li.has-sub > a {
  padding-right: 25px;
}

#menu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
  
}
#menu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 10000;
}
#menu li:hover > ul {
  left: auto;
  
}
#menu.align-right li:hover > ul {
  right: 0;
}
#menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#menu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#menu ul li:hover > ul > li {
  height: 32px;
}
#menu ul ul li a {
  padding: 10px 24px;
  height: 32px;
  width: 253px;
  font-size: 12px;
  background: #000;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#menu ul ul li:hover > a,
#menu ul ul li a:hover {
  color: #009ae1;
}
#menu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

#menu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#menu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;  
}

span#scholasticaAcademy img {
    width: 85px;
    height: 64px;
    position: relative;
    top: -13px;
    border-radius: unset;
    background: transparent;
    opacity: 1!important;
    pointer-events: none;
}

li.red {
  /* padding-bottom: 64px !important; */

  text-align: center;
}
@media only screen and (max-width:1335px) {  
  #sc-header {
    height: 152px;
  }
  .sc-header-logo {
    width: 20%;
    padding-left: 7px;
    padding-top: 40px;
  }
  .sc-header-menu {
      width: 80%;
  }
}


@media only screen and (max-width:990px) {
  #menu > ul > li > a {
    /*padding: 8px;
    padding-top: 33px;*/
    padding: 33px 8px 15px 8px;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #231520;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  #sc-header {
    height: 130px;
  }
  /*#sc-header{
        width: 100%;
        height: 86px;
        padding: 0px;
        margin: 0px;
        top: 0px;
        background-color: #fff;
    }*/
  .sc-header-logo {
    padding-left: 10px;
    padding-top: 25px;
  }
}

@media only screen and (max-width:900px) {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

  #menu,
  #menu ul,
  #menu ul li,
  #menu ul li a,
  #menu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #menu:after,
  #menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  #menu #menu-button {
    display: none;
  }
  #menu {
    float: left;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    background: #ffffff;
    margin-top: 4px;
  }
  #menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #009ae1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  #menu > ul > li {
    float: left;
  }
  #menu.align-center > ul {
    font-size: 12px;
    text-align: center;
  }
  #menu.align-center > ul > li {
    display: inline-block;
    float: none;
  }
  #menu.align-center ul ul {
    text-align: left;
  }
  #menu.align-right > ul > li {
    float: right;
  }
  #menu.align-right ul ul {
    
    text-align: right;
  }
  #menu > ul > li > a {
    padding: 8px;
    padding-top: 33px;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #231520;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  #menu > ul > .violet:hover > a,
  #menu > ul > .violet.active > a {
    color: #A54686;
   /* background-color: #A54686;*/
  }
  #menu > ul > .green:hover > a,
  #menu > ul > .green.active > a {
    color: #00A651;
    /*background-color: #00A651;*/
  }
  #menu > ul > .cyan:hover > a,
  #menu > ul > .cyan.active > a {
    color: #00AEEF;
   /* background-color: #00AEEF;*/
  }
  #menu > ul > .orange:hover > a,
  #menu > ul > .orange.active > a {
    color: #ffcb05;
   /* background-color: #ffcb05;*/
  }

  #menu > ul > li.has-sub > a {
    padding-right: 25px;
  }

  #menu > ul > li.has-sub:hover > a::after {
    border-color: #009ae1;
    
  }
  #menu ul ul {
    position: absolute;
    left: -9999px;
    z-index: 10000;
  }
  #menu li:hover > ul {
    left: auto;
    
  }
  #menu.align-right li:hover > ul {
    right: 0;
  }
  #menu ul ul ul {
    margin-left: 100%;
    top: 0;
  }
  #menu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
  }
  #menu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
  }
  #menu ul li:hover > ul > li {
    height: 32px;
  }
  #menu ul ul li a {
    padding: 10px 24px;
    height: 32px;
    width: 253px;
    font-size: 12px;
    background: #000;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  #menu ul ul li:hover > a,
  #menu ul ul li a:hover {
    color: #009ae1;
  }
  #menu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
  }
  #menu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
  }
  #menu ul ul li.has-sub:hover > a::after {
    border-color: #ffffff;  
  }  
  .sc-header-menu{
    width: 72%;
  }
  #sc-header {
    height: 125px;
  }
  .sc-header-logo {
      width: 28%;
  }
}

@media only screen and (max-width:768px) {  
  #menu > ul > li > a {
    padding: 6px;
    padding-top: 36px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #231520;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  
  #sc-header {
    height: 128px;
  }
  .sc-header-logo {
    width: 28%;
    float: left;
  }
  .sc-header-logo img {
    width: 160px;
    height: 61px;
  }
  .sc-header-menu{
    width: 72%;
  }
}
