.sc-calender ul {
  list-style-type: none;
    display: inline;
}
.sc-calender ul li{
    float: left;
    list-style: none;
    width: 10%
}

.image {
  height: 140px;
  width: 100px;
  background: #000;
  position: relative;
  background: url(../images/File%20-%20Document.png);
  background-size: cover;
}
.overlay {
  height: 140px;
  width: 100px;
  background: #eee;
  /*display: none;*/
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
}
.btn1, .btn2 {
  height: 30px;
  width: 30px;
  opacity: 0;
  /*display: none;*/
  /*position: absolute;*/
}
.btn1 {
  margin-top: 40px;
  margin-left: 10px;
  background: url(../images/go_down_black.png);
    background-size: cover;
  float: left;
  -webkit-transition: all 0.2s ease-in;
}
.btn2 {
  margin-top: 40px;
  margin-right: 10px;
    background: url(../images/icon_play.png);
    background-size: cover;
  float: right;
  -webkit-transition: all 0.2s ease-in;
}
.image:hover .overlay {
    /*display: inline;*/
    background: #eee;
    opacity:0.75;
    
}
.image:hover .btn1 {
    /*display: inline;*/
    opacity:1;
    
}
.image:hover .btn2 {
    /*display: inline;*/
    opacity:1;
    
}


/*------------------button css ---------------------*/
.classname {
	-moz-box-shadow:inset 3px 4px 14px -3px #97c4fe;
	-webkit-box-shadow:inset 3px 4px 14px -3px #97c4fe;
	box-shadow:inset 3px 4px 14px -3px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:38px;
	-moz-border-radius-topleft:38px;
	border-top-left-radius:38px;
	-webkit-border-top-right-radius:38px;
	-moz-border-radius-topright:38px;
	border-top-right-radius:38px;
	-webkit-border-bottom-right-radius:38px;
	-moz-border-radius-bottomright:38px;
	border-bottom-right-radius:38px;
	-webkit-border-bottom-left-radius:38px;
	-moz-border-radius-bottomleft:38px;
	border-bottom-left-radius:38px;
	text-indent:-5.24px;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
  margin-left: 20px;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.classname:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
