@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
 /* padding-left: 2px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cssmenu {
  width:100%;
  max-width:163px ;
  font-family: "Noto Sans", Tahoma, Arial, Helvetica, sans-serif;
  color: #000;
}
.cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
.cssmenu > ul > li > a {
  padding: 15px 20px;
 /* border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;*/
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
 /* padding-left: 2px;*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #fff;
  background: -webkit-linear-gradient(#008833, #008833);
  background: -moz-linear-gradient(#008833, #008833);
  background: -o-linear-gradient(#008833, #008833);
  background: -ms-linear-gradient(#008833, #008833);
  background: linear-gradient(#008833, #008833);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 2.15);
}
.cssmenu > ul > li > a:hover,
.cssmenu > ul > li.active > a,
.cssmenu > ul > li.open > a {
  text-decoration: underline;
  color: #fff;
  background: #008833;
  background: -webkit-linear-gradient(#008833, #008833);
  background: -moz-linear-gradient(#008833, #008833);
  background: -o-linear-gradient(#008833, #008833);
  background: -ms-linear-gradient(#008833, #008833);
  background: linear-gradient(#008833, #008833);
}
.cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #E2E1E1;
}
.cssmenu > ul > li:last-child > a,
.cssmenu > ul > li.last > a {
  border-bottom: 1px solid #FBFBFB;
}
.holder {
  width: 0;
  height: 0;
  
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
 
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 0px solid #ffffff;
  border-left: 0px solid #ffffff;
}
.cssmenu > ul > li > a:hover > span::after,
.cssmenu > ul > li.active > a > span::after,
.cssmenu > ul > li.open > a > span::after {
  border-color: #fff;
    
}
.holder::before {
  top: 18px;
  left:-15px;
  border-top: 2px solid #080808;
  border-left: 2px solid #080808;
  border-top: 2px solid #080808;
  border-left: 2px solid #080808;
}
.cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #D2CFCF;
  padding: 5px 21px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
 /* padding-left: 15px;*/
  color: #fff;
  background: #008833;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.cssmenu ul ul li:hover > a,
.cssmenu ul ul li.open > a,
.cssmenu ul ul li.active > a {
  background: #008833;
  color: #ffffff;
  text-decoration: underline;
  
  
}
.cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
.cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.cssmenu ul ul ul li a {
 /* padding-left: 30px;*/
}
.cssmenu > ul > li > ul > li:last-child > a,
.cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
.cssmenu > ul > li > ul > li.open:last-child > a,
.cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #ffffff;
}
.cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
.cssmenu ul ul li.has-sub > a::after {
  display: block;
  
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 9px;
  left: 110px;
  border-top: 2px solid #080808;
  border-left: 2px solid #080808;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.cssmenu  li.active ul {
	display: block;
}
