@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body {
	  margin: 0px;
    padding: 0px;
    background-color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
	  text-align: left;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    color: #ffffff;
    font-size: 13px;
    padding: 1px 5px 5px 5px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.li-style{
    width:84px;
    float:right;
    margin:20px;
    list-style-type: none;
}
 .marquee,
            .marquee-with-options,
            .marquee-vert-before,
            .marquee-vert {
             width: 100%;
             overflow: hidden;
             height: 320px;
             
            }
#wrapper{
  
    width:100%;
    height: auto;
    margin: 0 auto;
    padding:0 auto;
}

.sc-wrapper{
    width:100%;
    height: auto;
    margin: 0 auto;
}

#sc-header{
    width: 100%;
    position: fixed;
    height: 90px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #fff;

}
#sc-header-fixed{
    width:inherit;
    height: 90px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    display: none;
    opacity: 1;
    position: fixed;
    z-index: 100;
    margin-left: -112px;
    border-bottom: 1px solid #000;
    background-color: #fff;

}
.sc-header-logo{
    float: left;
    width:15%;
  /*  margin-left: -112px;*/
    padding-left:4px;
    padding-top: 4px;    
    
}
.sc-header-logo img{
    width: 180px;
    height: 81px;
}
.sc-header-menu{
    float: right;
    width: 85%;
}
.sc-header-menu-uper{
    float: right;
    width: 100%;
    height: 55px;
    
}
.sc-header-menu-uper img{
    float: right;
    background-color: #999999;
    opacity: 0.5;
    border-radius: 50%;
   
}
.sc-header-menu-uper img:hover{
    float: right;
    background-color: #FFFFFF;
    opacity: 0.5;
    border-radius: 50%;
    z-index: -100111;
}


.sc-header-menu-lower{
    float: left;
    width: 100%;
    
}


.sc-body-menu  ul li{
    display: block;
    list-style:none;
    margin:0 10px 0 0;

}
             
 .sc-body-menu a:hover{
    font-size: 18px;
    text-decoration: none;
    color: #1108f4;
    
} 

/** Social Media Icon **/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.sc-main-body{
   
  	margin:0 auto;
    width: 80%;
    height: auto;
    font-size: 17px;
    
     
}
.sc-main-body ul{
 
}
.sc-main-body ul li{
    margin-right: 36px;
    font-size: 14px;
}
.sc-main-body ul li p{
    text-align: left;
    color: #0c30f5;
}
.sc-main-body p{
    
    padding-right:10px;
    text-align: left;
    font-size: 14px;
}
           
.sc-main-body h3{
    font-size: 20px;
    padding-left: 15px;
    color: #9e2576;

}
          
.sc-main-body img{
    padding-left: 10px;
    padding-right:10px;
}
                     
.sc-main-body a{
    padding-left: 10px;

}

#ul{
    font-size: 14px;
}
.ul{
    font-size: 14px;
}
.sc-main-mid ul{
    display: block;
}
.sc-main-mid ul li{
    list-style: disc;
    width: auto;
}

.sc-main-bodymid{
    width: 100%;
    padding: 20px;
}
#middle_school ul{
     display: block;
}

#middle_school ul li{
    list-style: disc;
    width: 100%;
}

#listul{
     display: block;
}

#listulli{
    list-style: disc;
    width: 100%;
}

#listulli1{
    width: 100%;
}
#table1{
    width: 95%;
    border: 1px solid #008934;
    text-align: center;
    margin: 15px;
}
#table1 tr:first-child th {
    vertical-align: top;
    /*border: 1px solid #1F1F20;*/
    color: #ff0a16;
    background-color: #fff;
    position: relative;
}
#table1 tr a{
    color: #000000;
}
#table1 a:hover{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #4c66a4;
}
#table1 tr{
	 padding: 3px 3px 3px 3px;
   background: #fff;
}
/*  Define the background color for all the ODD background rows  */
#table1 tr:nth-child(odd){
   background: #fff;
   padding: 3px 3px 3px 3px;
}
/*  Define the background color for all the EVEN background rows  */
#table1 tr:nth-child(even){
   background: #fff;
   padding: 3px 3px 3px 3px;
}

#assessment{
   /* float: right;*/
    width: auto;
    height: auto;
    
}
#bdstudies{
    
    width: auto;
    height: auto;
    
}
#maths{
    float: left;
    width: auto;
    height: auto;
    
}

#arts{
    
    width: auto;
    height: auto;
    
}
#health{
    float: left;
    width: auto;
    height: auto;
    
}

.sc-main-welcom{
   
    padding: 0;
    float: left;
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    background-color: #A54686;
    border-radius: 0px 0px 0px 0px;
    
}
.sc-main-welcom-left{
  float: left;
  width:11%;
  height:45px;
  border-right: 0px solid #FFFFFF;
}

.sc-main-welcom-right{
    float: left;
    width:89%;
    
  
}
.sc-main-welcom-right-sub1{
    float: left;
    width: 50%;
    color: #FFFFFF;
	  text-align: center;
   /* border-left: 1px #fff solid;*/
    border-right: 1px #fff solid;
}
.sc-main-welcom-right-sub2{
    float: left;
    width: 50%;
    color: #FFFFFF;
	  text-align: center;
   /* border-left: 1px #fff solid;*/
    border-right: 1px #fff solid;
}
.sc-main-welcom-right-sub3{
    float: left;
    width: 33.33%;
    color: #FFFFFF;
	  text-align: center;
   /* border-left: 1px #fff solid;*/
    border-right: 1px #fff solid;
}

.sc-main-welcom ul{
    display: flex;
    list-style: none;
    margin-top: 2.5%;

}
.sc-main-welcom-right-sub1 ul li{
    display: block;
    padding-left: 10%;
}
.sc-main-welcom-right-sub2 ul li{
    display: block;
    padding-left: 24%;
}
.sc-main-welcom-right-sub3 ul li{
    display: block;
    padding-left: 24%;
}

.sc-main-welcom ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.sc-main-welcom ul li a:hover{
    color: #fccb00;
}

.new{
    float: left;
    margin: 10px;
    
}




.sc-main-left{
    float: left;
    border:#c4c4c4 0px solid;
	  width:100%;
    height:auto;
    color: #000;
    background-color:#FFFFFF ;
	  text-align: left;
    margin-top:5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    scrollbar-base-color: #4a76b4;
    scrollbar-face-color: #4a76b4;
    scrollbar-track-color: #4a76b4;
    scrollbar-3dlight-color: #4a76b4;
    scrollbar-highlight-color: #4a76b4;
    scrollbar-arrow-color: #4a76b4;
    scrollbar-darkshadow-color: #4a76b4;
    scrollbar-shadow-color: #4a76b4;
}
.sc-main-left h2{
    font-size: 30px;
    padding-left: 10px;
}

.uper{
    width:100%;
    height:42px;
    margin-top: -25px;
    background-color: #A54686;
}

.lower{
    width:100%;
    height:350px;
    margin-top: 10px;
    overflow: auto;
}
.sc-main-left span{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    
}
.sc-main-left a{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    color: #000;
    text-align: left;
}
.sc-main-left a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #1108f4;
    
}

.sc-main{
    float: left;
    width:100%;
    height:auto;
    color: #000;
    background-color: #ffffff;
	  text-align: left;
   /* -webkit-box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);*/
}
.sc-main-mid{
    float: left;
    border:#000000 1px solid;
	 /* width:49.5%;  ->10.07.16*/
	  width:100%;
    height: 405px;
    /*margin-left: 12px;*/
    color: #000000;
    background-color: #EBEBEB;
	  text-align: left;
   /* border-radius: 5px 5px 5px 5px;*/
  /* -webkit-box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 5px 7px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);*/
}
.sc-main-mid h2{
     font-size: 30px;
    /* padding-left: 10px;*/
     color:#FFFFFF;
     text-align: center;
}
.sc-main-mid p{
    padding: 3px;
    margin-left: 10px;
    text-align:left;
    padding-right: 10px;
}
.sc-main-mid ul li{
    list-style: square;
    margin: 2px;
    text-align: left;
}
.sc-main-mid span{
   
    font-size: 14px;
    font-weight: bold;
   /* margin-right: 10px;*/

}
.sc-main-mid a{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #A54686;
    text-align: left;
    padding-left: 0px;
}
.sc-main-mid a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #A54686;
    
}
.sc-main-mid-sub{   
    float: left;
    border:#c4c4c4 0px solid;
	  width:100%;
    height:auto;
    color: #000000;
    text-align: left;
    margin-top: -25px;
    background-color: #EBEBEB;
  
}
.click{
    text-align: right;
    color: #000000;
    cursor: pointer;
}

::selection {
    background: #000000;
    color: #FFFFFF;
    text-shadow: none;
}

#slider {
    width: 100%; /* important to be same as image width */
    height: 680px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
   
     /* border-radius: 5px 5px 0px 0px;*/
    /*  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
      -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
      box-shadow: 0px 5px 5px rgba(0,0,0,.3);*/
    -moz-background-size: 100% 100%; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 
}

#slider img{
    width: 100%;

}

#sliderContent, #slider1Content {
    width: 100%; /* important to be same as image width or wider */
    height: 680px;
    position: absolute;
	  top: 0;
    padding: 0;
    margin-left: 0;
    
}
.sliderImage, .slider1Image {
    width: 100%;
    float: left;
    position: relative;
  	display: none;
    z-index: 101;
}
.sliderImage span {
    
}
.sliderImagediv {
    display: block;
    z-index: 999;
    height: 200px;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
	  padding-left:13px;
    width: 100%;
    background-color: #000;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
	 -khtml-opacity: 0.75;
    opacity: 0.75;
    color: #fff;
    
}

#Marquee{
  	  width:100%;
      height: 320px;
}

#Marquee p{
  	  width:90%;
      text-align: justify;
}
.sc-main-right{
    float: right;
    border:#000000 1px solid;
	  width:49.5%;
    height: 405px;
    color: #000000;
    background-color: #EBEBEB;

}
.sc-main-right p{
  margin-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 13px;
  }
.sc-main-right h2{
     font-size: 30px;
    /* padding-left: 10px;*/
     color:#FFFFFF;
     text-align: center;
}
.sc-main-right span{
    
    font-size: 14px;
    font-weight: bold;
   /* margin-right: 10px;*/
   
}
.sc-main-right a{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    color: #000000;
    text-align: left;
    padding-left: 0px;
}
.sc-main-right a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    
}

.sc-main-right-sub{
    float: right;
    border:#c4c4c4 0px solid;
	  width:100%;
    height:auto;
    color: #000000;
    background-color: #EBEBEB;
	  text-align: left;
    margin-top: -25px;


}
.pclick{
  text-align: right;
  color: #000000;
  cursor: pointer;
}
.sc-main-footer{
    float: left;
    width: 100%;
    height: auto;
    border-top: 1px #bcbcbc solid;
  /*  border-bottom: 1px #bcbcbc solid;*/
    margin-top: 10px;
    background-color: #363A3D;
    color:#FFFFFF;
}

.sc-main-footer-left{
    float: left;
    width: 66%;
    height: auto;
}
.sc-main-footer-left h4{
    float: left;
    width: 100%;
    font-weight: bold;
    line-height: .03em;
    font-size: 14px;
}
.sc-main-footer-right{
    float: left;
    width: 34%;
    height: auto;
    
}
.sc-main-footer-right-address{
    float: left;
    width: 35%;
    height: auto;
    padding-left: 10px;
    
}
.sc-main-footer-right-address span{
  float: left;
  width: 100%;
  font-size: 10px;
  
}

.sc-main-footer-right-address h4{
  width: 100%;
  font-size: 14px;
  
}
.sc-main-footer-right-address a{
  color:#FFFFFF ;
  font-size: 10px;
  list-style: none;
  text-decoration: none;
  
}
.sc-main-footer-right-logo{
    float: left;
    padding: 0;
    margin: 0;
    width: 65%;
    height: auto;
    text-align: left;
    /*padding-left: 10px;*/
    
}
.sc-main-footer-right-logo img{
    float: left;
    padding-left: 60px;
    padding-bottom: 10px;
}
.sc-main-footer-right-logo p{
    font-size: 10px;
    text-align: left;
    font-size: 10px;
}
.sc-main-footer-right-logo span{
    float: left;
    width: 100%;
    font-size: 10px;
}
.lettFo{
  margin-top: 10px;
  float: left;
  width: 38%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}
.rightFo{
  float: left;
  margin-top: 10px;
  width: 62%;
  height: 100%;
  font-size: 10px;
}

/*.sc-main-footer-right-address h4{
    float: left;
    font-weight: bold;
    line-height: .03em;
    font-size: 14px;
}
.sc-main-footer-right-address p{
    float: left;
    font-size: 10px;
    line-height: 0.03em;
}*/

.sc-main-footer-right h4{
    float: left;
    font-weight: bold;
    line-height: .03em;
    font-size: 14px;
}
.sc-main-footer-right p{
  font-size: 10px;
  text-align: left;
  padding-left: 5px;
}

.sc-main-footer-right #td h4{
  width: 100%;
}
.sc-main-footer-right #td a{
  width: 100%;
}
.sc-main-footer-right a{
   float: left;
   width: 100%;
   margin: 0px;
   padding: 0px;
   text-align: left;
   color:#EBEBEB;
   text-decoration: none;
  
}
.sc-main-footer-right a:hover{
   text-decoration: underline;
  
}
.sc-main-footer-right-uper{
    float: left;
    width: 100%;
    height: auto;
    
}


.sc-main-footer-right-mid{
    float: left;
    width: 100%;
    height:auto;
    
}


.sc-main-footer-right-lower{
    float: left;
    width: 100%;
    height: auto;
    
}


.sc-main-footer-copy{
    float: left;
    width: 100%;
   /* height: 20px;
    margin-top: 15px;*/
    text-align: center;
    background-color: #363A3D;
  /*  border-top: 1px #bcbcbc solid;*/
    color:#FFFFFF;
  
}
.sc-main-footer-copy h3{
    font-size: 10px
}
.clear {
	clear: both;
}
.sliderImage span strong, .slider1Image span strong {
    font-size: 30px;
}
.top-caption {
  margin-top: 24%;
	width: 100%;
  height: 144px;
  top: 217px;
  color: #FFFFFF;
  z-index: 11111111111111111111;
  position: absolute;
  background: rgba(0,100,166, 0.6);
  }
  .top-caption .top{
  padding-top:1% ; 
  padding-left: 1%;
  font-size: 32px;
  width: 52%;
  top: -10%;
  color: #FFFFFF;
  z-index: 11111111111111111111;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 3px 3px #494949;
  }

.top-caption p{
  font-size: 24px;
  padding-left: 12%;
  top: 35%;
  color: #FFFFFF;
  z-index: 11111111111111111111;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 3px 3px #494949;
}
 
.caption{
  margin-top: 24%;
	font-size: 30px;
  width: 100%;
  height: 118px;
  top: 217px;
  color: #FFFFFF;
  z-index: 11111111111111111111;
  position: absolute;
  background: rgba(0,100,166, 0.6);
} 
.caption .span{
  font-size: 24px;
  width: 100%;
  top: 0px;
  padding-left: 1%;
  padding-top: 1%;
  color: #FFFFFF;
  text-align: left;
  z-index: 11111111111111111111;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 3px 3px #494949;
}
.span h2{
  font-size: 30px;
  line-height: 30px;
  font-family: 'proximaExtrabold', arial, serif;
  color: #fff !important;
  padding-bottom: 4px;
  text-shadow: 1px 3px 3px #494949;
  margin: 0;
}
.left {
	top: 0;
  left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}

