<!-- <div id="menu">
  <ul>
    <li class="violet"><a href="index.php"><span>Home</span></a></li>
    <li class="green"><a href="academics/academics.php"><span>Academics</span></a> </li>
    <li class="orange"><a href="admission/admission.php"><span>Admission</span></a> </li>
    <li class="cyan"><a href="parents-&-students/parent-student.php"><span>Parents &amp; Students</span></a></li>
    <li class="violet"><a href="about-us/about-us.php"><span>About Us</span></a></li>
    <li class="cyan"><a href="contact/contact.php"><span>Contact Us</span></a></li>
    <li class="green"><a href="http://scholasticabd.com/pay" target="_blank"><span>Pay Fees Online</span></a></li>
  </ul>
</div> -->
<div id="menu">
    <ul>
      <li class="violet"><a href="index.php"><span>Home</span></a></li>
      <li class="green"><a href="academics/academics.php"><span>Academics</span></a> </li>
      <li class="orange"><a href="admission/admission.php"><span>Admission</span></a> </li>
      <li class="cyan"><a href="parents-&-students/parent-student.php"><span>Parents &amp;<br> Students</span></a></li>
      <li class="violet"><a href="about-us/about-us.php"><span>About<br> Us</span></a></li>
      <li class="cyan"><a href="contact/contact.php"><span>Contact<br> Us</span></a></li>
      <li class="green"><a href="http://scholasticabd.com/pay" target="_blank"><span>Online<br> Payment</span></a></li>
      <!-- <li class="red" ><a href="https://scholastica.academy/" target="_blank" title="Scholastica Academy"><span id="scholasticaAcademy"><img src="images/scholasticaAcademy/Scholastica-online-academy-logo-01.png" alt="Scholastica Academy" ></span></a></li> -->
      <li class="red" ><a href="https://scholastica.academy/" target="_blank" title="Scholastica Academy"><span>Scholastica Online<br> Academy</span></a></li>
    </ul>
  </div> 